---
import Layout from "../components/Layout.astro";
import { getCollection } from 'astro:content';
const interfaceEntries = await getCollection('interfaces');
import InterfaceThumb from "../components/interfaces/interfaceThumb.astro";
let delayTransPage = 0;
---

<Layout>
    <div class="flex h-screen text-center" >
        <div class="m-auto">
            <h1>I N T E R F A C E S</h1>

            <div id="interface-track">

                {
                    interfaceEntries.map((interfaceEntry) => {
                        delayTransPage = delayTransPage + 0.1;
                        return  (
                                <InterfaceThumb 
                                    title = {interfaceEntry.data.title} 
                                    path = {interfaceEntry.data.path} 
                                    desc = {interfaceEntry.data.desc} 
                                    tech = {interfaceEntry.data.tech}
                                    anchor = {`/interfaces/${interfaceEntry.slug}`}
                                    delayTrans = {delayTransPage + "s"}
                                />
                                );
                    })
                }

            </div>
    </div>

</Layout>

<style>

    h1
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size:2vw;
        margin-top: 1rem;
    }

    #interface-track
    {
        display: inline-flex;
        flex-wrap: wrap;
        padding: 1rem;
        align-items: center;
        gap: 15px;
        justify-content: center;
        max-width: 70%;
    }

    @media screen and (orientation: portrait)
    {

        h1 
        {
            font-size:8vw;
        }

        #interface-track
        {
            max-width: 90%;
        }
    }

</style>
